<div class="customers view">
	<div class="container">
		<header>
			<h3>Expenses</h3>
		</header>
		
		<div data-ng-repeat="expense in expenses">
			<button class="btn btn-primary" type="button" data-ng-click="deleteExpense(expense.key)">Delete Expense</button>
			{{expense.name}} {{expense.amount}} {{expense.frequency}}
		</div>
		<br/>
		Sum (per month) : 
		<select data-ng-model="month" data-ng-options="month for month in expenseMonths" data-ng-change="getMonthlyAmount()">
			<option value="" data-ng-hide="month">Select</option>
		</select> 
		{{monthlyAmount}}
		<br />
		<div class="row">
			<div class="span3">
				Name: <br /> <input data-ng-model="newExpense.name" type="text" placeholder="Name">
			</div>
			<div class="span3">
				Amount: <br /> <input data-ng-model="newExpense.amount" type="text" placeholder="Amount">
			</div>
			<div class="span6">
				Frequency: <br /> 
				<select data-ng-model="newExpense.frequency" data-ng-options="frequency for frequency in expenseFrequencies">
					<option value="" data-ng-hide="newExpense.frequency">Select</option>
				</select>
			</div>
			<br/>
			From: <br/><input data-ng-model="newExpense.from" type="date" placeholder="From">
		<br/>
		To: <br/><input data-ng-model="newExpense.to" type="date" placeholder="To">
		<br/>
			<div class="span6">
				<button id="submitExpense" class="btn btn-primary" type="button" data-ng-click="insertExpense()">Add
					Expense</button>
			</div>
		</div>
</div>
		<br /> <br />
	</div>
</div>